<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="./styles.css">
    <%- include('../partials/head.ejs') %>

    <body>
        <div class="wrapper">
        <%- include('../partials/header.ejs') %>


        <main>
            <div class="inputField">
                <a>
                    <form action="/todos" method="POST" autocomplete="off">
                        <input type="text" placeholder="Add plan" name="name" required>
                       
                        <a href="/todos/new " > <button>Add</button>
                    </form>

         </div>        
                   
                </a>
             <% todos.forEach((todo, index) => { %>  
                <a href="/todos/<%= todo.id  %> ">
                    
                   
                    <h3><%= todo.name  %> - <%= todo.complete ? "Complete" : "Not Completed"  %> </h3> %> </a> 

             <% }) %>



                
                
                
                
            </div>
        </main>
    </body>
</html>